* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}


.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}


li {
  color: #ffff;
  margin:  1rem;
  cursor: pointer;
}



a {
  color: white;
  outline: none;
  text-decoration: none;
}

a:hover {
  color:#508019;
}

a:visited {
  text-decoration: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #111111;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #94CC53;
  padding: 20px;
  border-radius: 10px;
}

li {
  display: flex;
  justify-content: space-between;
}

.tarefas li {
  font-weight: 600;
  color: #111111;
}

.input-tarefa {
  text-align: center;
  border: none;
  padding: 0.3em 0;
  border-radius: 10px;
}

#tarefas {
  display: flex;
  justify-content: center;
}

.btn-tarefa:hover{
  background: #6531B8;
  color: #fff;
  border: none;
  /* padding: 0.3em; */
  border-radius: 10px;
  cursor: pointer;
}

.btn-tarefa {
  box-shadow: 0 0 4px #fff;
  background-color: #fff;
  color: #111111;
  border: none;
  padding: 0.3em;
  border-radius: 10px;
  margin-left: 0.4em;
  transition: all .3s ease-in-out;
}

.tarefas li {
  background: #c2e799;
  color: #111111;
  padding: 0.4em;
  align-items: center;
}

.apagar {
  box-shadow: 0 0 4px #fff;
  background-color: #111111;
  color: #ffff;
  border: none;
  padding: 0.4em;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.apagar:hover {
  margin: 0 0.3em;
  background: #6531B8;
  color: #fff;
  border: none;
  /* padding: 0.3em; */
  border-radius: 10px;
  cursor: pointer;
}

